.checkoutProduct{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom:20px;
    margin-top: 20px;
    border:2px solid black;
    
    

}
.checkoutProduct > img {
    object-fit: contain;
    width: 180px;
    height: 160px;
    
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .checkoutProduct__info{
      padding-left: 20px;
      
      
  }

  .checkoutProduct__info > button{
    background: #f0c14b;
    border: 1px solid;
    margin-top: 4px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    width:145px;
    height: 28px;
  }
   .checkoutProduct__price{
       margin-top:0px;
       margin-bottom: 0px;
   }
  .checkoutProduct__rating{
      display:flex;
  }
  .checkoutProduct__title{
      
      font-size:15px;
      font-weight:700;
  }